<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body onload="initClock()">
    <main>
        <div id="screen">
            {{ partial "nav.html" . }}

            <div id="desktop">
                {{ block "main" . }}
                {{ end }}
            </div>
        </div>
    </main>

    <script src="/js/script.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>
</html>