<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>/andre-rocco{{ if not .IsHome }}/{{ .Title }}{{ end }}</title> <!-- O título da pagina será /andre-rocco na home e /andre-rocco/pagina nas páginas -->
	<link rel="icon" href="/images/favicon-dark-mode.png" id="dark-scheme-icon">
    <link rel="icon" href="/images/favicon-light-mode.png" id="light-scheme-icon">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
	<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>