<nav id="menu-nav">
    <img src="/images/header-images/apple-icon.png" alt="Apple Icon" id="apple-icon-img">
    <a href="https://github.com/andrerocco" target="_blank"><img src="/images/header-images/github-button.png" alt="Github"></a>
    <a href="https://www.linkedin.com/in/andre---rocco/" target="_blank"><img src="/images/header-images/linkedin-button.png" alt="Linkedin"></a>
    <a href="https://www.behance.net/dedeverse" target="_blank"><img src="/images/header-images/behance-button.png" alt="Behance"></a>
</nav>