{{ define "main" }}
<div id="desktop-grid" class="no-select">
    <!-- Ícones das páginas .txt geradas a partir de content -->
    {{ range (where .Site.RegularPages "Section" "texts") }}
    <div class="desktop-icon" id="{{ .Page.Title }}-icon">
        <div class="icon-image">
            <img src="{{ with .Params.icon_url }}{{ . }}{{ else }}/images/note-icon-2x.png{{ end }}" alt="Macintosh notes icon">
        </div>
        <div class="icon-text">
            <h2>{{ .Page.Title }}.txt</h2>
        </div>
    </div>
    {{ end }}

    <!-- Ícone calculadora -->
    <div class="desktop-icon" id="calculator-icon">
        <div class="icon-image">
            <img src="/images/calculator-icon-2x.png" alt="Macintosh calculator icon">
        </div>
        <div class="icon-text">
            <h2>Calculator</h2>
        </div>
    </div>

    <!-- Ícone relógio -->
    <div class="desktop-icon" id="clock-icon">
        <div class="icon-image">
            <img src="/images/alarm-clock-icon-2x.png" alt="Macintosh clock icon">
        </div>
        <div class="icon-text">
            <h2>Clock</h2>
        </div>
    </div>

    <!-- Ícone forms -->
    <div class="desktop-icon" id="forms-icon">
        <div class="icon-image">
            <img src="/images/contact-icon-2x.png" alt="Macintosh forms icon">
        </div>
        <div class="icon-text">
            <h2>Contact me</h2>
        </div>
    </div>

    <!-- Páginas .txt geradas a partir de content  -->
    {{ range (where .Site.RegularPages "Section" "texts") }}
    <div data-window class="screen-window" id="{{ .Page.Title }}-window" style="transform: scale(0); z-index: 1">
        <div class="window-header no-select">
            <div class="window-header-title"><h1>{{ .Page.Title }}.txt</h1></div>
            <div class="window-header-close"><img src="/images/close-icon-x.png" alt="Close"></div>
        </div>
        <div class="window-content">
            {{ .Content }}
        </div>
    </div>
    {{ end }}

    <!-- Janela calculadora -->
    <div data-window class="screen-window" id="calculator-window" style="transform: scale(0); z-index: 1">
        <div class="window-header no-select" id="calculator-header">
            <div class="window-header-title" id="calculator-header-title"><h1>Calculator</h1></div>
            <div class="window-header-close"><img src="/images/close-icon-i.png" alt="Close"></div>
        </div>
        <div class="window-content">
            <div id="calculator-screen">
                <div data-operand id="calculator-operand">0</div>
            </div>
            <div id="calculator-grid" class="no-select">
                <button data-calculator-clear>C</button><button data-equals>=</button><button data-operation>/</button><button data-operation>*</button>
                <button data-number>7</button><button data-number>8</button><button data-number>9</button><button data-operation>-</button>
                <button data-number>4</button><button data-number>5</button><button data-number>6</button><button data-operation>+</button>
                <button data-number>1</button><button data-number>2</button><button data-number>3</button><button data-equals id="calculator-right-equals">=</button>
                <button data-number id="calculator-bottom-zero">0</button><button data-number>.</button>
            </div>
        </div>
    </div>

    <!-- Janela relógio -->
    <div data-window class="screen-window" id="clock-window" style="transform: scale(0); z-index: 1">
        <div class="window-header no-select">
            <div class="window-header-title"><h1>Clock</h1></div>
            <div class="window-header-close"><img src="/images/close-icon-x.png" alt="Close"></div>
        </div>
        <div class="window-content">
            <div id="date"></div>
            <div id="time-containter">
                <span id="clock-real-time">00:00:00</span>
            </div>
        </div>
    </div>

    <!-- Forms -->
    <div data-window class="screen-window" id="forms-window" style="transform: scale(0); z-index: 1">
        <div class="window-header no-select">
            <div class="window-header-title"><h1>Contact me</h1></div>
            <div class="window-header-close"><img src="/images/close-icon-x.png" alt="Close"></div>
        </div>
        <div class="window-content" id="contact-form-window">
            <form id="contact-form">
                <fieldset class="form-field" tabindex="1">
                    <label for="name">
                        NOME:
                        <input name="name" type="text" placeholder="Nome completo" required autocomplete="off">
                    </label>
                    
                </fieldset>
                <div class="form-field" tabindex="1">
                    <label for="email">
                        EMAIL:
                        <input name="email" type="text" placeholder="nome@email.com" required autocomplete="off">
                    </label>
                </div>
                <fieldset class="form-field" tabindex="1">
                    <label for="mensagem">
                        MENSAGEM:
                        <textarea name="mensagem" type="text" placeholder="Digite aqui a sua mensagem" required autocomplete="off"></textarea>
                    </label>
                </fieldset>
                <fieldset class="form-field" id="submit-field">
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>

</div>
{{ end }}

